
body{
    font-family: "Montserrat";
}
.chart-Container {
    ...
    position: relative;
  }
  
  .chart {
    width: 800px;
    height: 800px;
    
    /* centrar vertical y horizontalmente */
    position: absolute;
    top: 10%;
    left: 30%;
    margin: -25px 0 0 -25px; /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento chart */
  }
  .label-chart{
    color: rgb(10, 70, 126);
    text-align: center;
  }